@import "./scss/functions";
@import "./scss/variables";

// il seguente import non funziona:
// @import "./scss/bootstrap";

// inserire il codice per le personalizzazioni

// $new-info: rgb(255, 128, 0);

// $new-theme-colors: (
//     "info": $new-info,
// );

// $theme-colors: map-merge($theme-colors, $new-theme-colors);

$h7-new-font-size: $font-size-base * 0.9;
$h8-new-font-size: $font-size-base * 0.75;
$h9-new-font-size: $font-size-base * 0.5;
$h10-new-font-size: $font-size-base * 0.25;

$new-font-sizes: (
    7: $h7-new-font-size,
    8: $h8-new-font-size,
    9: $h9-new-font-size,
    10: $h10-new-font-size,
);

$font-sizes: map-merge($font-sizes, $new-font-sizes);

$new-border-widths: (
    6: 6px,
    7: 7px,
    8: 8px,
    9: 9px,
    10: 10px,
);

$border-widths: map-merge($border-widths, $new-border-widths);

//  fine delle personalizzazioni
//
@import "./scss/bootstrap.scss";
