@import "./scss/functions";
@import "./scss/variables";

// il seguente import non funziona:
// @import "./scss/bootstrap";

// inserire il codice per le personalizzazioni

$new-danger: #ff0077;
$new-info: #00ffea;
$new-light: #f3eeff;
$epicode-1: #5726c3;
$epicode-2: #8625a5;
$epicode-3: #cb2376;

$new-theme-colors: (
    "danger": $new-danger,
    "info": $new-info,
    "light": $new-light,
    "epicode-1": $epicode-1,
    "epicode-2": $epicode-2,
    "epicode-3": $epicode-3,
);

$theme-colors: map-merge($theme-colors, $new-theme-colors);

$h7-new-font-size: $font-size-base * 0.9;
$h8-new-font-size: $font-size-base * 0.75;
$h9-new-font-size: $font-size-base * 0.5;
$h10-new-font-size: $font-size-base * 0.25;

$new-font-sizes: (
    7: $h7-new-font-size,
    8: $h8-new-font-size,
    9: $h9-new-font-size,
    10: $h10-new-font-size,
);

$font-sizes: map-merge($font-sizes, $new-font-sizes);

$new-border-widths: (
    6: 6px,
    7: 7px,
    8: 8px,
    9: 9px,
    10: 10px,
);

$border-widths: map-merge($border-widths, $new-border-widths);

$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 2.5rem;

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;

$grid-gutter-width: 0.5rem;

// Cards

// scss-docs-start card-variables

$card-border-radius: 2rem;
// $info: $new-info;
$card-color: $info;
$card-bg: $gray-800;

$border-radius-pill: 50rem;
$badge-border-radius: $border-radius-pill;

$btn-border-radius: $border-radius-pill;
$btn-border-radius-sm: $border-radius-pill;
$btn-border-radius-lg: $border-radius-pill;

$input-border-radius: $border-radius-pill;
$input-border-radius-sm: $border-radius-pill;
$input-border-radius-lg: $border-radius-pill;

// scss-docs-end card-variables

$new-grid-breakpoints: (
    3xl: 1600px,
    4xl: 1800px,
);

$new-container-max-widths: (
    3xl: 1520px,
    4xl: 1720px,
);

$grid-breakpoints: map-merge($grid-breakpoints, $new-grid-breakpoints);
$container-max-widths: map-merge(
    $container-max-widths,
    $new-container-max-widths
);

//  fine delle personalizzazioni
//

@import "./scss/bootstrap.scss";
